.ex-1-square {
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    background-color: transparent;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    height: 100px;
    width: 100px;
    margin: 0;
}

.ex-5-square:active {
    height: 60px;
    width: 60px;
    margin: 20px;
}